//===============================================================================
// FORMS
//===============================================================================
form ul {
  list-style: none;
}

label:not(.hs-form-checkbox-display, .hs-form-radio-display) {
  color: lighten($ink, 20);
  font-size: $zeta;
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="password"] {
  outline: 0;
  padding: 10px 10px 6px 10px;
  display: block;
  background-color: lighten($ink, 47);
  border-radius: 3px;
  border: $pink;
  width: 100%;
  margin-bottom: 18px;
  z-index: 1;
  transition: background-color 0.2s;
  position: relative;
  max-width: 540px;

  &:focus { background-color: lighten($ink, 43); }
}

select {
  margin-bottom: 18px;
}

select {
  @extend .btn;
}

.hs-form-checkbox-display,
.hs-form-radio-display {
  cursor: pointer;

  input { display: none; }
}

input[type="radio"] + span,
input[type="checkbox"] + span {
  position: relative;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: lighten($ink, 47);
    border: 1px solid lighten($ink, 40);
    left: 0;
    top: 1px;
    transition: background-color .2s, border .2s;
  }

  &:hover::before{
    background-color: lighten($ink, 40);
    border: 1px solid lighten($ink, 33);
  }
}

input[type="radio"] {
  & + span::before {
    border-radius: 50%;
  }

  &:checked + span::before {
    border: 4px solid $pink;
  }
}

input[type="checkbox"]:checked + span::after {
  content: "✓";
  color: $pink;
  position: absolute;
  left: 2px;
}

input[type="submit"] {
  @extend .btn, .btn-lrg;
}

.hs-form-required {
  color: $pink;
}