//===============================================================================
// HUBSPOT
//===============================================================================
.body-container-wrapper {
  @extend .grid;

  padding-top: 120px;
  padding-bottom: 40px;
}

.hs-rich-text {
  padding-left: 20px;
  padding-right: 20px;

  strong {
    font-weight: 700;
  }

  img {
    max-width: 100%;
    height:auto;
  }

  table {
    width: 100%;
  }
}

.widget-type-form,
.widget-type-linked_image {
  padding-left: 20px;
  padding-right: 20px;
}

.widget-type-linked_image {
  margin-bottom: 60px;
  img {
    max-width:100%;
    height:auto;
  }
}