//===============================================================================
// TYPOGRAPHY
//===============================================================================
h1 {
  font-size: $tera;
  font-family: $brandon;
  font-weight: $font-black;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  letter-spacing: -2px;

  @media screen and ( max-width: $large + 300px ) {
    font-size: $giga;
    font-size: 9vw;
  }

  @media screen and ( max-width: $medium ) {
    font-size: $mega;
  }

  @media screen and ( max-width: $small ) {
    font-size: $alpha;
  }
}

h2, h3 {
  font-weight: $font-bold;
  line-height: 1;
}

h2 {
  font-size: $alpha;

  @media screen and ( max-width: $medium ) {
    font-size: $alpha - 8px;
  }
}

h3 {
  font-size: $beta;

  @media screen and ( max-width: $medium ) {
    font-size: $beta - 4px;
  }
}

a {
  color: $primary;
  text-decoration: none;
  border-bottom: 2px solid rgba($primary, 0.2);
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    color: lighten($primary, 10);
    border-bottom-color: rgba($primary, 0.4);
  }
}

// FONT SIZES
p { -webkit-font-smoothing: antialiased; }

::selection { background: rgba($ink, 0.2); }

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, pre, button {
  margin: 0 0 10px 0;
}

.tera    { font-size: $tera; }
.giga    { font-size: $giga; }
.mega    { font-size: $mega; }
.alpha   { font-size: $alpha; }
.beta    { font-size: $beta; }
.gamma   { font-size: $gamma; }
.delta   { font-size: $delta; }
.epsilon { font-size: $epsilon; }
.zeta    { font-size: $zeta; }

h4, h5, h6, strong { font-weight: $font-bold; }
h4 { font-size: $gamma; }
h5 { font-size: $epsilon; }
h6 { font-size: $zeta; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

blockquote {
  -webkit-font-smoothing: antialiased;
  border-left: 10px solid $primary;
  padding-left: 20px;
  font-style: normal;
  margin: 45px 30px;
  color: $primary;
  font-size: $gamma + 4px;

  @media screen and ( max-width: $medium ) {
    margin: 30px 0;
  }
}
