@charset "UTF-8";
@font-face {
  font-family: 'brandon-text';
  font-weight: 400;
  src: url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_2_0.eot");
  src: url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_2_0.eot?#iefix") format("embedded-opentype"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_2_0.woff2") format("woff2"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_2_0.woff") format("woff"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'brandon-text';
  font-weight: 700;
  src: url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_1_0.eot");
  src: url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_1_0.eot?#iefix") format("embedded-opentype"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_1_0.woff2") format("woff2"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_1_0.woff") format("woff"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'brandon-text';
  font-weight: 900;
  src: url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_0_0.eot");
  src: url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_0_0.eot?#iefix") format("embedded-opentype"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_0_0.woff2") format("woff2"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_0_0.woff") format("woff"), url("http://cdn2.hubspot.net/hubfs/2277134/fonts/3146DE_0_0.ttf") format("truetype");
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.primary-bg {
  background-color: #ed4f7e;
}

.primary-text {
  color: #ed4f7e;
}

.white-bg {
  background-color: white;
}

.white-text {
  color: white;
}

.grey-bg {
  background-color: #f8f9f9;
}

.grey-text {
  color: #f8f9f9;
}

.ink-bg {
  background-color: #6b7482;
}

.ink-text {
  color: #6b7482;
}

.pink-bg {
  background-color: #ed4f7e;
}

.pink-text {
  color: #ed4f7e;
}

.pink-dark5-bg {
  background-color: #e14b78;
}

.pink-dark5-text {
  color: #e14b78;
}

.pink-dark25-bg {
  background-color: #b23b5f;
}

.pink-dark25-text {
  color: #b23b5f;
}

.purple-bg {
  background-color: #9b5ca4;
}

.purple-text {
  color: #9b5ca4;
}

.purple-dark5-bg {
  background-color: #93579c;
}

.purple-dark5-text {
  color: #93579c;
}

.purple-dark25-bg {
  background-color: #74457b;
}

.purple-dark25-text {
  color: #74457b;
}

.blue-bg {
  background-color: #0ea2dc;
}

.blue-text {
  color: #0ea2dc;
}

.blue-dark5-bg {
  background-color: #0d9ad1;
}

.blue-dark5-text {
  color: #0d9ad1;
}

.blue-dark25-bg {
  background-color: #0b7aa5;
}

.blue-dark25-text {
  color: #0b7aa5;
}

.aqua-bg {
  background-color: #37bec0;
}

.aqua-text {
  color: #37bec0;
}

.aqua-dark5-bg {
  background-color: #34b5b6;
}

.aqua-dark5-text {
  color: #34b5b6;
}

.aqua-dark25-bg {
  background-color: #298f90;
}

.aqua-dark25-text {
  color: #298f90;
}

.green-bg {
  background-color: #a4ce4e;
}

.green-text {
  color: #a4ce4e;
}

.green-dark5-bg {
  background-color: #9cc44a;
}

.green-dark5-text {
  color: #9cc44a;
}

.green-dark25-bg {
  background-color: #7b9b3b;
}

.green-dark25-text {
  color: #7b9b3b;
}

.orange-bg {
  background-color: #faad40;
}

.orange-text {
  color: #faad40;
}

.orange-dark5-bg {
  background-color: #eea43d;
}

.orange-dark5-text {
  color: #eea43d;
}

.orange-dark25-bg {
  background-color: #bc8230;
}

.orange-dark25-text {
  color: #bc8230;
}

html {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "brandon-text", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  color: #6b7482;
  overflow-x: hidden;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.grid, .body-container-wrapper {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-right: 20px;
  padding-left: 20px;
}

.grid:after, .body-container-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .grid, .body-container-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.padded {
  padding: 20px;
}

[class*='col-'] {
  display: inline-block;
  margin-right: -2px;
  margin-left: -2px;
  vertical-align: top;
  padding-right: 20px;
  padding-left: 20px;
}

.col-1-1 {
  width: 100%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

@media screen and (max-width: 500px) {
  [class*='col-'] {
    width: 100%;
    display: block;
    margin-left: 0;
  }
  .mobile-col-2-3,
  .mobile-col-1-3,
  .mobile-col-1-2,
  .mobile-col-1-4,
  .mobile-col-1-8 {
    display: inline-block;
    margin-left: -4px;
  }
  .mobile-col-2-3 {
    width: 66.66%;
  }
  .mobile-col-1-3 {
    width: 33.33%;
  }
  .mobile-col-1-2 {
    width: 50%;
  }
  .mobile-col-1-4 {
    width: 25%;
  }
  .mobile-col-1-8 {
    width: 12.5%;
  }
  .show-small {
    display: none;
  }
}

h1 {
  font-size: 110px;
  font-family: "brandon-text", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -2px;
}

@media screen and (max-width: 1300px) {
  h1 {
    font-size: 72px;
    font-size: 9vw;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 64px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 44px;
  }
}

h2, h3 {
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 44px;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 32px;
}

@media screen and (max-width: 700px) {
  h3 {
    font-size: 28px;
  }
}

a {
  color: #ed4f7e;
  text-decoration: none;
  border-bottom: 2px solid rgba(237, 79, 126, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
  color: #f27da0;
  border-bottom-color: rgba(237, 79, 126, 0.4);
}

p {
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: rgba(107, 116, 130, 0.2);
}

::selection {
  background: rgba(107, 116, 130, 0.2);
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, pre, button {
  margin: 0 0 10px 0;
}

.tera {
  font-size: 110px;
}

.giga {
  font-size: 72px;
}

.mega {
  font-size: 64px;
}

.alpha {
  font-size: 44px;
}

.beta {
  font-size: 32px;
}

.gamma {
  font-size: 24px;
}

.delta {
  font-size: 20px;
}

.epsilon {
  font-size: 18px;
}

.zeta {
  font-size: 16px;
}

h4, h5, h6, strong {
  font-weight: 700;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

blockquote {
  -webkit-font-smoothing: antialiased;
  border-left: 10px solid #ed4f7e;
  padding-left: 20px;
  font-style: normal;
  margin: 45px 30px;
  color: #ed4f7e;
  font-size: 28px;
}

@media screen and (max-width: 700px) {
  blockquote {
    margin: 30px 0;
  }
}

.btn, select, input[type="submit"], button {
  -webkit-font-smoothing: subpixel-antialiased;
  background: none;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: 1;
  color: #6b7482;
  position: relative;
  margin-right: 5px;
  padding: 10px 12px 7px 15px;
  border: 2px solid rgba(107, 116, 130, 0.2);
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  display: inline-block;
  cursor: pointer;
}

.btn:hover, select:hover, input[type="submit"]:hover, button:hover {
  color: #ed4f7e;
  border-color: #fbdae4;
}

.btn:focus, select:focus, input[type="submit"]:focus, button:focus {
  outline: none;
}

.btn-arrow {
  padding-right: 22px;
}

.btn-arrow::after {
  content: "";
  overflow: hidden;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -301px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  top: 50%;
  right: 7px;
  -webkit-transform: translateY(-55%) scale(0.8);
          transform: translateY(-55%) scale(0.8);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.5;
}

.btn-arrow::after:hover {
  color: transparent;
}

.btn-arrow:hover::after {
  width: 8px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -319px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  opacity: 1;
}

.btn-arrow:hover::after:hover {
  color: transparent;
}

.btn-light {
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.2);
}

.btn-light::after {
  width: 8px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -310px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.btn-light::after:hover {
  color: transparent;
}

.btn-light:hover {
  color: white;
  border-color: rgba(255, 255, 255, 0.6);
}

.btn-light:hover::after {
  width: 8px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -310px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.btn-light:hover::after:hover {
  color: transparent;
}

.btn-white {
  background-color: white;
}

.btn-med {
  padding: 12px 20px 10px;
  font-size: 12px;
}

.btn-med.btn-arrow {
  padding-right: 34px;
}

.btn-med.btn-arrow::after {
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
  right: 12px;
}

.btn-lrg, input[type="submit"] {
  padding: 15px 30px 13px;
  font-size: 12px;
  border-width: 3px;
}

.btn-lrg.btn-arrow, input.btn-arrow[type="submit"] {
  padding-right: 37px;
}

.btn-lrg.btn-arrow::after, input.btn-arrow[type="submit"]::after {
  -webkit-transform: translateY(-53%);
          transform: translateY(-53%);
  right: 12px;
}

.btn-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.btn-block {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-block.btn-med {
  padding: 14px 22px 12px;
}

.btn-block:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-play.btn, select.btn-play, input.btn-play[type="submit"] {
  padding-left: 45px;
}

.btn-play::after {
  content: "";
  overflow: hidden;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width: 28px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -375px -69px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%) scale(0.55);
          transform: translateY(-50%) scale(0.55);
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-play::after:hover {
  color: transparent;
}

.btn-play:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.btn-play:hover:not(.hero-play-btn):hover::after {
  opacity: 1;
  width: 28px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -407px -69px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.btn-play:hover:not(.hero-play-btn):hover::after:hover {
  color: transparent;
}

.btn-circle {
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: transparent;
  width: 90px;
  height: 90px;
}

.btn-circle:hover {
  color: transparent;
}

.btn-circle:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .btn-circle {
    width: 80px;
    height: 80px;
  }
}

.btn-circle::after {
  content: "";
  overflow: hidden;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  top: 50%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.btn-circle:hover {
  color: transparent;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

form ul {
  list-style: none;
}

label:not(.hs-form-checkbox-display):not(.hs-form-radio-display) {
  color: #a1a8b2;
  font-size: 16px;
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="password"] {
  outline: 0;
  padding: 14px 10px;
  display: block;
  background-color: #edeef0;
  border-radius: 3px;
  border: #ed4f7e;
  width: 100%;
  margin-bottom: 18px;
  z-index: 1;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  position: relative;
  max-width: 540px;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="password"]:focus {
  background-color: #e2e4e7;
}

select {
  margin-bottom: 18px;
}

.hs-form-checkbox-display,
.hs-form-radio-display {
  cursor: pointer;
}

.hs-form-checkbox-display input,
.hs-form-radio-display input {
  display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
  position: relative;
  padding-left: 20px;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #edeef0;
  border: 1px solid #d9dce0;
  left: 0;
  top: 1px;
  -webkit-transition: background-color .2s, border .2s;
  transition: background-color .2s, border .2s;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
  background-color: #d9dce0;
  border: 1px solid #c6cad0;
}

input[type="radio"] + span::before {
  border-radius: 50%;
}

input[type="radio"]:checked + span::before {
  border: 4px solid #ed4f7e;
}

input[type="checkbox"]:checked + span::after {
  content: "✓";
  color: #ed4f7e;
  position: absolute;
  left: 2px;
}

.hs-form-required {
  color: #ed4f7e;
}

.body-container-wrapper {
  padding-top: 120px;
  padding-bottom: 40px;
}

.hs-rich-text {
  padding-left: 20px;
  padding-right: 20px;
}

.hs-rich-text strong {
  font-weight: 700;
}

.hs-rich-text img {
  max-width: 100%;
}

.hs-rich-text table {
  width: 100%;
}

.widget-type-form {
  padding-left: 20px;
  padding-right: 20px;
}

.gbl-head {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom-color: rgba(255, 255, 255, 0.25);
  -webkit-font-smoothing: antialiased;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.99;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.gbl-head:not(.top) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.06);
}

.gbl-head-inner {
  padding: 30px 40px 20px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .gbl-head-inner {
    padding: 20px 0 15px;
  }
}

.gbl-head-logo {
  width: 170px;
  height: 29px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: 0px 0px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.gbl-head-logo:hover {
  color: transparent;
}

.gbl-head-logo:hover {
  color: transparent;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .gbl-head-logo {
    margin-left: 20px;
  }
}

.gbl-head-nav {
  top: 0;
  position: absolute;
  right: 40px;
}

@media screen and (max-width: 700px) {
  .gbl-head-nav {
    position: relative;
    top: 15px;
    right: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s max-height ease-out, 0.3s box-shadow;
    transition: 0.3s max-height ease-out, 0.3s box-shadow;
  }
  .gbl-head-nav.active {
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.06);
    max-height: 500px;
  }
}

.gbl-head-nav-item {
  color: white;
  display: block;
  float: left;
  margin: 32px 0 18px 40px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 700px) {
  .gbl-head-nav-item {
    float: none;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 12px 20px 10px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.07);
  }
}

.gbl-head-nav-item:hover {
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 700px) {
  .gbl-head-nav-item:hover {
    background-color: rgba(0, 0, 0, 0.12);
    border-top-color: rgba(0, 0, 0, 0.08);
  }
}

.gbl-head-nav-item.active,
.blog .gbl-head-nav-item:last-child,
.post .gbl-head-nav-item:last-child {
  color: white;
  font-weight: 700;
}

.gbl-head-btn {
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  margin: 0;
  top: 10px;
  right: 15px;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  border: none;
  -webkit-transition: box-shadow 0.2s, opacity 0.2s;
  transition: box-shadow 0.2s, opacity 0.2s;
}

.gbl-head-btn:hover {
  color: transparent;
}

.gbl-head-btn:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.gbl-head-btn::after {
  content: "";
  overflow: hidden;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -258px -34px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  top: 13px;
  left: 13px;
}

.gbl-head-btn::after:hover {
  color: transparent;
}

.gbl-head-btn .active::after {
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -280px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  top: 14px;
  left: 15px;
}

.gbl-head-btn .active::after:hover {
  color: transparent;
}

@media screen and (max-width: 700px) {
  .gbl-head-btn {
    display: block;
  }
}

.gbl-foot-inner {
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 20px 40px 60px;
}

@media screen and (max-width: 800px) {
  .gbl-foot-inner {
    padding: 20px 20px;
  }
}

.gbl-foot-tagline {
  color: rgba(237, 79, 126, 0.4);
  position: absolute;
  right: 40px;
  bottom: 20px;
  width: 100%;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .gbl-foot-tagline {
    position: relative;
    text-align: left;
    bottom: 0;
    right: 0;
  }
}

.gbl-foot-light .gbl-foot-tagline {
  color: rgba(255, 255, 255, 0.4);
}

.gbl-foot-links {
  position: relative;
  z-index: 3;
}

.gbl-foot-links li {
  display: inline-block;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .gbl-foot-links li {
    display: block;
    margin-bottom: 10px;
  }
}

.gbl-foot-links a {
  color: #ed4f7e;
  border: none;
  padding: 0;
}

.gbl-foot-links a:hover {
  color: rgba(237, 79, 126, 0.8);
}

.gbl-foot-light .gbl-foot-links a {
  color: white;
}

.gbl-foot-light .gbl-foot-links a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.gbl-foot-social {
  position: absolute;
  right: 40px;
  top: 22px;
  z-index: 3;
}

@media screen and (max-width: 800px) {
  .gbl-foot-social {
    right: 20px;
  }
}

.gbl-foot-social li {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

@media screen and (max-width: 700px) {
  .gbl-foot-social li {
    margin-left: 4px;
  }
}

.gbl-foot-social a {
  border: none;
}

.gbl-foot-social a:hover {
  opacity: 0.8;
}

.gbl-foot-social a.github {
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -53px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.gbl-foot-social a.github:hover {
  color: transparent;
}

.gbl-foot-social a.twitter {
  width: 26px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -26px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.gbl-foot-social a.twitter:hover {
  color: transparent;
}

.gbl-foot-social a.vimeo {
  width: 24px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: 0px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.gbl-foot-social a.vimeo:hover {
  color: transparent;
}

.gbl-foot-light .gbl-foot-social .github {
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -181px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.gbl-foot-light .gbl-foot-social .github:hover {
  color: transparent;
}

.gbl-foot-light .gbl-foot-social .twitter {
  width: 26px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -154px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.gbl-foot-light .gbl-foot-social .twitter:hover {
  color: transparent;
}

.gbl-foot-light .gbl-foot-social .vimeo {
  width: 24px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url(http://cdn2.hubspot.net/hubfs/2277134/images/gbl-sprite.svg);
  background-position: -128px -33px;
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
}

.gbl-foot-light .gbl-foot-social .vimeo:hover {
  color: transparent;
}
